<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.velmurugan.hiltandroid">

    <application>
        <activity android:name=".HiltTestActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>